{% extends 'main/layout.html' %}

{% block title %}Викус{% endblock %}

{% block content %}
    <div class="main">
        <p>
            <h1>Тестовый сайт</h1>
            <p>python</p>
        </p>
    </div>
    <form action = "{% url 'timefun' %}" method = "POST">
        <input class="io" type="submit" name="timefun" onclick="clicked(event)" value="Старт" />
    </form>
    <table>
        <tr>
            <th>Company</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
        </tr>
        <tr>
          <td>1</td>
          <td>20.3</td>
          <td>30.5</td>
          <td>23.5</td>
          <td>40.3</td>
        </tr>
        <tr>
          <td>2</td>
          <td>50.2</td>
          <td>40.63</td>
          <td>45.23</td>
          <td>39.3</td>
        </tr>
        <tr>
          <td>3</td>
          <td>25.4</td>
          <td>30.2</td>
          <td>33.3</td>
          <td>36.7</td>
        </tr>
        <tr>
          <td>4</td>
          <td>20.4</td>
          <td>15.6</td>
          <td>22.3</td>
          <td>29.3</td>
        </tr>
    </table>

    <script>
        function clicked(e)
        {
            if(!confirm('Вы уверены? придется немного подождать...')) {

                e.preventDefault();

            }
        }
    </script>
{% endblock %}